@tailwind base;
@tailwind components;
@tailwind utilities;

/* Paths */
$u: "~/assets/images/";
$f: "~/assets/fonts/";

/* Typography */
@font-face {
    font-family: "Necto";
    src: url("#{$f}necto.woff2") format("woff2"),
      url("#{$f}necto.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hkgrotesk';
    src: url('#{$f}hkgrotesk-extralight.woff2') format('woff2'),
         url('#{$f}hkgrotesk-extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Hkgrotesk';
    src: url('#{$f}hkgrotesk-light.woff2') format('woff2'),
         url('#{$f}hkgrotesk-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Hkgrotesk';
    src: url('#{$f}hkgrotesk-regular.woff2') format('woff2'),
         url('#{$f}hkgrotesk-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Hkgrotesk';
    src: url('#{$f}hkgrotesk-medium.woff2') format('woff2'),
         url('#{$f}hkgrotesk-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Hkgrotesk';
    src: url('#{$f}hkgrotesk-semibold.woff2') format('woff2'),
         url('#{$f}hkgrotesk-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Hkgrotesk';
    src: url('#{$f}hkgrotesk-bold.woff2') format('woff2'),
         url('#{$f}hkgrotesk-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Hkgrotesk';
    src: url('#{$f}hkgrotesk-extrabold.woff2') format('woff2'),
         url('#{$f}hkgrotesk-extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@mixin fluid($min-font, $max-font, $min-screen: 500px, $max-screen: 1440px, $base-font: 24px) {
    $dif: calc($max-font - $min-font);
    $minsx: calc($min-screen / $base-font * 1rem);
    $maxsx: calc($max-screen / $base-font * 1rem);
    $difsx: calc($maxsx - $minsx);
    $d: calc($dif/$difsx);
    
    font-size: $min-font;
    @media screen and (min-width: $minsx) {
           font-size: calc(#{$min-font} + #{$d} * (100vw - #{$minsx}));
    }
    @media screen and (min-width: $maxsx) {
       font-size: $max-font;
    }
}

// animation gradients 
@keyframes float {
    0%, 100%  {transform: translatey(-25%);}
    50% {transform: translatey(0);}
}
@keyframes float2 {
    0%, 100%  {transform: translatey(0px);transform: translatex(20%);}
    50% {transform: translatey(-15%);transform: translatex(0);}
}
@keyframes float3 {
    0%, 100% { transform: rotate(0deg) translateX(80px) rotate(0deg); }
    50%  { transform: rotate(360deg) translateX(80px) rotate(-360deg); }
}

.t70{@include fluid(1.66rem,2.9rem);} 
.t60{@include fluid(1rem,2.5rem);} 
.t40{@include fluid(0.8rem,1.66rem);} 
.t24{@include fluid(0.66rem,1rem);} 
.t18{@include fluid(0.58rem,0.75rem);} 
.t16{@include fluid(0.54rem,0.66rem);} 
.t13{@include fluid(0.45rem,0.54rem);} 
.t11{@include fluid(0.41rem,0.45rem);} 

h2{
    @apply t60 font-semibold text-verde;
    line-height:1.2em;
}
h3{
    @apply t18 font-necto uppercase;
    line-height:1.2em;
    &:before{
        @apply mr-2 relative;
        bottom:0.25em;
        content: url('data:image/svg+xml;utf8, <svg width="56" height="4" viewBox="0 0 56 4" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="0.25" width="56" height="3" fill="%2300CFA3"/></svg>')
    }
}
h4{
    @apply t24 font-medium;
}
.tag{
    @apply t13 tracking-wide font-normal uppercase;
    &.lg{@apply t16;}
}
p{
    @apply t24 font-light;
}

// Scroll //
::-webkit-scrollbar {
    width: 8px;
    background: white;
  }
  ::-webkit-scrollbar-track {
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    @apply bg-verdeClaro;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    @apply bg-verdeClaro;
  }

/* Structure */
html{font-size: 24px;}
body{ 
    @apply font-hkgrotesk;
    font-size:24px;
}
.container-fluid{
    padding-right: 1rem;
    padding-left: 1rem;
    @media (min-width: 48em) {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
.wrap {
    margin: 0 auto;
    max-width:1380px;
}
main{
    @apply pt-14 md:pt-10;
}
section:not(.hero){
    @apply py-8 md:py-16;
}

/* Transition classes */
.transition-ease{
    transition-property: all;
    transition-duration: 0.4s ;
    transition-timing-function: ease-in-out;
    &-slow{
        transition-duration:0.7s;
    }
    &-fast{
        transition-duration:0.3s;
    }
}

.hovered{
    opacity:1;
}

/* Animation keyframes */
@keyframes menubeforeida {
    0% {
        height: calc(100% - 6px);
        border-bottom-width: 3px;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    45% {
        height: 0%;
        border-bottom-width: 3px;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        height: 0%;
        border-bottom-width: 0px;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        height: 0%;
        border-bottom-width: 0px;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}
@keyframes menubeforevolta {
0% {
    height: 0%;
    border-bottom-width: 0px;
    transform: translate(-50%, -50%) rotate(45deg);
}
45% {
    height: 0%;
    border-bottom-width: 0px;
    transform: translate(-50%, -50%) rotate(0deg);
}
50% {
    height: 0%;
    border-bottom-width: 3px;
    transform: translate(-50%, -50%) rotate(0deg);
}
100% {
    height: calc(100% - 6px);
    border-bottom-width: 3px;
    transform: translate(-50%, -50%) rotate(0deg);
}
}

/* Buttons */

.btn{
    @apply inline-block relative transition-ease t18 p-1 md:p-2 font-medium text-branco hover:text-preto border border-solid border-branco hover:border-verde hover:bg-verde leading-none;
    border-radius:8px;
    &:before{
        @apply mr-2;
        filter:saturate(50%) brightness(100%);
    }
    &:hover{
        &:before{
            filter: saturate(0%) brightness(200%);
        }
    }
    &.active{
        @apply text-preto border-verde bg-verde;
        &:before{
            filter: saturate(00%) brightness(200%);
        }
    }
    &.download{
        &:before{
            @apply transition-ease relative pb-2;
            content: url('#{$u}icons/download.svg');
            top:0.2em;
        }
    }
}
.btn-preto{
    @apply relative transition-ease block t13 uppercase font-light text-center px-6 py-2 font-necto text-branco bg-preto border border-solid border-preto rounded-lg hover:border-verde hover:bg-verde hover:text-preto;
}
.btn-arrow{
    @apply font-necto text-verde font-light tracking-wide uppercase t18 py-2 inline-block cursor-pointer;
    &:before{
        @apply transition-ease relative mr-2 inline-block;
        content: url('#{$u}icons/arrow.svg');
        top:0.8em;
        @media (max-width:767px){transform: scale(0.7)}
    }
    &:hover{
        &:before{
            transform: translateY(5px);
        }
    }
}
.btn-tooltip{
    @apply font-necto text-verde font-light tracking-wide uppercase t11 mt-1 mx-auto block;
    &:after{
        @apply transition-ease relative ml-2 inline-block;
        content: url('#{$u}icons/arrow-tooltip.svg');
        top:0.3em;
        @media (max-width:767px){transform: scale(0.7)}
    }
    &:hover{
        &:after{
            transform: translateX(5px);
        }
    }
    &.big{
        @apply font-necto text-verde font-light tracking-wide uppercase t18 py-2 inline-block cursor-pointer;
        line-height:1.2em;
        &:after{
            content:none;
        }
    }
}

/* Components */

.icon{
    @apply relative;
    &:before{
        @apply bg-no-repeat bg-contain absolute block;
    }
    &[data-dimensao="Administração Pública"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.4844 4.35938C23.7656 4.45312 24 4.73438 24 5.0625V6.75C24 7.17188 23.625 7.5 23.25 7.5H0.75C0.328125 7.5 0 7.17188 0 6.75V5.0625C0 4.73438 0.1875 4.45312 0.46875 4.35938L11.4375 0.140625C11.625 0.046875 11.8125 0.046875 12 0.046875C12.1406 0.046875 12.3281 0.046875 12.5156 0.140625L23.4844 4.35938ZM3 9H6V16.5H10.5V9H13.5V16.5H18V9H21V16.5H21.75C22.125 16.5 22.5 16.875 22.5 17.25V19.5H1.5V17.25C1.5 16.875 1.82812 16.5 2.25 16.5H3V9ZM23.25 21C23.625 21 24 21.375 24 21.75V23.25C24 23.6719 23.625 24 23.25 24H0.75C0.328125 24 0 23.6719 0 23.25V21.75C0 21.375 0.328125 21 0.75 21H23.25Z" fill="%2300CFA3"/></svg>');
        }
    }
    &[data-dimensao="Assistência e Desenvolvimento Social"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.25 1.15625L14.4688 3.25C15.0312 3.65625 15.1562 4.4375 14.75 5C14.3438 5.5625 13.5625 5.6875 13 5.28125L10.25 3.5H6.96875C6.71875 3.5 6.46875 3.75 6.46875 4C6.46875 4.28125 6.71875 4.5 6.96875 4.5H8.9375C9.4375 4.5 9.875 4.84375 9.96875 5.34375C10.0625 5.96875 9.59375 6.5 8.96875 6.5H5.46875C4.625 6.5 3.8125 6.21875 3.15625 5.6875L1.71875 4.5H1.46875C1.21875 4.5 1 4.28125 1 4V1C1 0.75 1.21875 0.5 1.46875 0.5H9.3125C10.0312 0.5 10.6875 0.75 11.25 1.15625ZM5.71875 13.875L1.5 10.7812C0.9375 10.375 0.8125 9.59375 1.21875 9.03125C1.625 8.46875 2.40625 8.34375 2.96875 8.75L6.71875 11.5H10.5C10.75 11.5 11 11.2812 11 11C11 10.75 10.75 10.5 10.5 10.5H8.03125C7.53125 10.5 7.09375 10.1875 7 9.6875C6.90625 9.0625 7.375 8.5 8 8.5H12C12.8438 8.5 13.6562 8.8125 14.3125 9.34375L15.75 10.5H16.5C16.75 10.5 17 10.75 17 11V14C17 14.2812 16.75 14.5 16.5 14.5H7.65625C6.9375 14.5 6.28125 14.2812 5.71875 13.875Z" fill="%2300CFA3"/></svg>');
        }
    }
    &[data-dimensao="Cultura"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.4375 7.6875L7.21875 9.03125C6.5625 9.25 6 9.59375 5.65625 10C5.5625 8.96875 6.3125 8 7.4375 7.6875ZM3.96875 9.21875C4.15625 10.2812 6 11.4688 7.46875 11.875C7.8125 12.7188 8.28125 13.4688 8.71875 14C8.59375 14 8.5 14.0312 8.40625 14.0312C6.28125 14.0312 2.46875 12.0938 2 9.59375L1.03125 3.96875C0.875 3.09375 1.28125 2.21875 2.03125 1.8125C4.15625 0.625 6.5 0 8.90625 0C9.65625 0 10.4062 0.0625 11.1562 0.1875C11.6875 0.28125 12.125 0.59375 12.4375 1.03125C11.8438 1.0625 11.25 1.09375 10.6562 1.21875C10.0312 1.3125 9.5 1.59375 9.0625 2.03125C9 2 8.9375 2 8.90625 2C6.84375 2 4.8125 2.53125 3 3.53125C3 3.53125 2.96875 3.5625 3 3.625L3.96875 9.21875ZM7.03125 4.9375C7.15625 5.625 6.6875 6.25 6 6.375C5.34375 6.5 4.6875 6.0625 4.5625 5.375C4.53125 5.25 4.53125 5.125 4.5625 5C4.90625 5.15625 5.34375 5.25 5.78125 5.15625C6.25 5.0625 6.65625 4.875 6.90625 4.59375C6.96875 4.6875 7 4.8125 7.03125 4.9375ZM19.9375 3.78125C20.6875 4.21875 21.0938 5.09375 20.9375 5.96875L19.9688 11.5625C19.4688 14.2812 15.0625 16.3125 13.0938 15.9688C11.125 15.625 7.65625 12.2188 8.15625 9.5L9.125 3.875C9.28125 3 9.96875 2.3125 10.8125 2.1875C13.9688 1.6875 17.1562 2.25 19.9375 3.78125ZM11.4062 6.8125C11.375 6.9375 11.375 7.0625 11.4062 7.1875C11.75 7.03125 12.1875 6.96875 12.625 7.03125C13.0938 7.125 13.5 7.34375 13.75 7.59375C13.8125 7.5 13.8438 7.375 13.875 7.25C14 6.5625 13.5312 5.9375 12.8438 5.8125C12.1875 5.6875 11.5312 6.125 11.4062 6.8125ZM13.625 13.0312C15.3438 13.3438 17 12.2812 17.4375 10.6562C16.5625 11.1875 15.2812 11.4062 13.9375 11.1875C12.5938 10.9375 11.4688 10.3125 10.8125 9.5C10.6875 11.1875 11.875 12.7188 13.625 13.0312ZM17.6875 8.3125C17.75 8.1875 17.7812 8.0625 17.8125 7.9375C17.9375 7.28125 17.4688 6.625 16.7812 6.5C16.125 6.375 15.4688 6.84375 15.3438 7.5C15.3125 7.625 15.3438 7.78125 15.3438 7.875C15.6875 7.71875 16.125 7.65625 16.5938 7.71875C17.0312 7.8125 17.4375 8.03125 17.6875 8.3125Z" fill="%2300CFA3"/></svg>');
        }
    }
    &[data-dimensao="Educação"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5312 5.46875L15.0938 6.90625C14.9688 7.03125 14.7188 7.03125 14.5625 6.90625L11.0938 3.4375C10.9688 3.28125 10.9688 3.03125 11.0938 2.90625L12.5312 1.46875C13.125 0.875 14.0938 0.875 14.6562 1.46875L16.5312 3.34375C17.125 3.90625 17.125 4.875 16.5312 5.46875ZM9.875 4.125C10 4 10.25 4 10.4062 4.125L13.875 7.59375C14.0312 7.75 14.0312 8 13.875 8.125L5.65625 16.3438L1.875 17C1.34375 17.0938 0.90625 16.6562 1 16.125L1.65625 12.3438L9.875 4.125ZM4.875 11.625C5.03125 11.8125 5.3125 11.8125 5.46875 11.625L10.2812 6.8125C10.4688 6.65625 10.4688 6.375 10.2812 6.21875C10.125 6.03125 9.84375 6.03125 9.6875 6.21875L4.875 11.0312C4.6875 11.1875 4.6875 11.4688 4.875 11.625ZM3.75 14.25V12.75H2.59375L2.25 14.7812L3.21875 15.75L5.25 15.4062V14.25H3.75Z" fill="%2300CFA3"/></svg>');
        }
    }
    &[data-dimensao="Esporte e Lazer"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.5 3C11.6562 3 11 2.34375 11 1.5C11 0.6875 11.6562 0 12.5 0C13.3125 0 14 0.6875 14 1.5C14 2.34375 13.3125 3 12.5 3ZM12.375 6.78125L11.0625 5.75L9.25 7.3125L10.5312 8.1875C10.8125 8.375 10.9688 8.65625 11 9V13C11 13.5625 10.5312 14 10 14C9.4375 14 9 13.5625 9 13V9.5625L6.4375 7.84375C6.15625 7.65625 6 7.375 6 7C6 6.71875 6.125 6.4375 6.34375 6.25L9.84375 3.25C10 3.09375 10.25 3 10.5 3C10.7188 3 10.9375 3.09375 11.125 3.21875L13.3438 5H15C15.5312 5 16 5.46875 16 6C16 6.5625 15.5312 7 15 7H13C12.9688 7 12.9688 7 12.9688 7C12.75 7 12.5312 6.9375 12.375 6.78125ZM16 8C18.1875 8 20 9.8125 20 12C20 14.2188 18.1875 16 16 16C13.7812 16 12 14.2188 12 12C12 9.8125 13.7812 8 16 8ZM16 14C17.0938 14 18 13.125 18 12C18 10.9062 17.0938 10 16 10C14.875 10 14 10.9062 14 12C14 13.125 14.875 14 16 14ZM4 8C6.1875 8 8 9.8125 8 12C8 14.2188 6.1875 16 4 16C1.78125 16 0 14.2188 0 12C0 9.8125 1.78125 8 4 8ZM4 14C5.09375 14 6 13.125 6 12C6 10.9062 5.09375 10 4 10C2.875 10 2 10.9062 2 12C2 13.125 2.875 14 4 14Z" fill="%2300CFA3"/></svg>');
        }
    }
    &[data-dimensao="Finanças Públicas"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 12.6875C1.28125 13.5938 3.625 14 6 14C8.34375 14 10.6875 13.5938 12 12.6875V14C12 15.125 9.3125 16 6 16C2.6875 16 0 15.125 0 14V12.6875ZM10 4C6.6875 4 4 3.125 4 2C4 0.90625 6.6875 0 10 0C13.3125 0 16 0.90625 16 2C16 3.125 13.3125 4 10 4ZM0 9.40625C1.28125 10.4688 3.625 11 6 11C8.34375 11 10.6875 10.4688 12 9.40625V11C12 12.125 9.3125 13 6 13C2.6875 13 0 12.125 0 11V9.40625ZM13 9.75V7.75C14.1875 7.53125 15.25 7.1875 16 6.6875V8C16 8.75 14.7812 9.40625 13 9.75ZM6 5C9.3125 5 12 6.125 12 7.5C12 8.90625 9.3125 10 6 10C2.6875 10 0 8.90625 0 7.5C0 6.125 2.6875 5 6 5ZM12.8438 6.78125C12.5625 6.03125 11.875 5.4375 10.9688 5C12.9688 4.875 14.875 4.46875 16 3.6875V5C16 5.78125 14.7188 6.4375 12.8438 6.78125Z" fill="%2300CFA3"/></svg>');
        }
    }
    &[data-dimensao="Habitação"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.9688 9.5L16 14.5C16 14.5938 16 14.6875 16 14.75V15.25C16 15.9688 15.4375 16.5 14.75 16.5H14.25C14.1875 16.5 14.1562 16.5 14.125 16.5C14.0938 16.5 14.0312 16.5 14 16.5H12.25C11.5312 16.5 11 15.9688 11 15.25V12.5C11 11.9688 10.5312 11.5 10 11.5H8C7.4375 11.5 7 11.9688 7 12.5V15.25C7 15.9688 6.4375 16.5 5.75 16.5H4C3.9375 16.5 3.90625 16.5 3.84375 16.5C3.8125 16.5 3.78125 16.5 3.75 16.5H3.25C2.53125 16.5 2 15.9688 2 15.25V11.75C2 11.75 2 11.7188 2 11.6875V9.5H1C0.4375 9.5 0 9.0625 0 8.5C0 8.21875 0.09375 7.96875 0.3125 7.75L8.3125 0.78125C8.53125 0.5625 8.78125 0.5 9 0.5C9.21875 0.5 9.46875 0.59375 9.65625 0.75L13 3.65625V2.5C13 1.96875 13.4375 1.5 14 1.5H15C15.5312 1.5 16 1.96875 16 2.5V6.28125L17.625 7.75C17.875 7.96875 18 8.21875 17.9688 8.5C17.9688 9.0625 17.5 9.5 16.9688 9.5H15.9688Z" fill="%2300CFA3"/></svg>');
        }
    }
    &[data-dimensao="Infraestrutura Urbana"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 0.5C17.5312 0.5 18 0.96875 18 1.5C18 2.0625 17.5312 2.5 17 2.5H15.75V4.5H18V8.5C16.3125 8.5 15 9.84375 15 11.5V13.5C15 14.0625 14.5312 14.5 14 14.5H13C12.4375 14.5 12 14.0625 12 13.5V11.5C12 9.84375 10.6562 8.5 9 8.5C7.3125 8.5 6 9.84375 6 11.5V13.5C6 14.0625 5.53125 14.5 5 14.5H4C3.4375 14.5 3 14.0625 3 13.5V11.5C3 9.84375 1.65625 8.5 0 8.5V4.5H2.25V2.5H1C0.4375 2.5 0 2.0625 0 1.5C0 0.96875 0.4375 0.5 1 0.5H17ZM14.25 2.5H11.75V4.5H14.25V2.5ZM7.75 2.5V4.5H10.25V2.5H7.75ZM6.25 2.5H3.75V4.5H6.25V2.5Z" fill="%2300CFA3"/></svg>');
        }
    }
    &[data-dimensao="Legislação"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 10.5C9 11.9062 7.1875 13 5 13C2.78125 13 1 11.9062 1 10.5C1 10.0312 0.90625 10.2812 3.65625 4.84375C4.1875 3.75 5.78125 3.75 6.3125 4.84375C9.03125 10.25 8.96875 10 8.96875 10.5H9ZM5 5.5L2.75 10H7.25L5 5.5ZM20.9688 10.5H21C21 11.9062 19.1875 13 17 13C14.7812 13 13 11.9062 13 10.5C13 10.0312 12.9062 10.2812 15.6562 4.84375C16.1875 3.75 17.7812 3.75 18.3125 4.84375C21.0312 10.25 20.9688 10 20.9688 10.5ZM14.75 10H19.25L17 5.5L14.75 10ZM17.5 14C17.75 14 18 14.25 18 14.5V15.5C18 15.7812 17.75 16 17.5 16H4.5C4.21875 16 4 15.7812 4 15.5V14.5C4 14.25 4.21875 14 4.5 14H10V4.8125C9.25 4.46875 8.6875 3.8125 8.53125 3H4.5C4.21875 3 4 2.78125 4 2.5V1.5C4 1.25 4.21875 1 4.5 1H9C9.4375 0.40625 10.1562 0 11 0C11.8125 0 12.5312 0.40625 12.9688 1H17.5C17.75 1 18 1.25 18 1.5V2.5C18 2.78125 17.75 3 17.5 3H13.4375C13.2812 3.8125 12.7188 4.46875 12 4.8125V14H17.5Z" fill="%2300CFA3"/></svg>');
        }
    }
    &[data-dimensao="Meio Ambiente"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 2C5.84375 2 9 5.15625 9 9V13C9 13.5625 8.46875 14 7.96875 14C7.4375 14 7 13.5625 7 13V9C3.125 9 0 5.84375 0 2H2ZM14 0H16C16 3.625 13.25 6.625 9.71875 6.96875C9.375 5.71875 8.71875 4.5625 7.875 3.625C9.0625 1.46875 11.3438 0 14 0Z" fill="%2300CFA3"/></svg>');
        }
    }
    &[data-dimensao="Mobilidade e Transporte Público"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 0C12.6562 0 14 1.34375 14 3V11C14 12.5 12.875 13.75 11.4375 13.9688L12.875 15.4062C13.0938 15.625 12.9375 16 12.625 16H11.4062C11.125 16 10.875 15.9062 10.6875 15.7188L9 14H5L3.28125 15.7188C3.09375 15.9062 2.84375 16 2.5625 16H1.34375C1.03125 16 0.875 15.625 1.09375 15.4062L2.53125 13.9688C1.09375 13.75 0 12.5 0 11V3C0 1.34375 1.3125 0 3 0H11ZM2 7C2 7.5625 2.4375 8 3 8H5.5C6.03125 8 6.5 7.5625 6.5 7V4C6.5 3.46875 6.03125 3 5.5 3H3C2.4375 3 2 3.46875 2 4V7ZM8.5 3C7.9375 3 7.5 3.46875 7.5 4V7C7.5 7.5625 7.9375 8 8.5 8H11C11.5312 8 12 7.5625 12 7V4C12 3.46875 11.5312 3 11 3H8.5ZM3 10C2.4375 10 2 10.4688 2 11C2 11.5625 2.4375 12 3 12C3.53125 12 4 11.5625 4 11C4 10.4688 3.53125 10 3 10ZM11 12C11.5312 12 12 11.5625 12 11C12 10.4688 11.5312 10 11 10C10.4375 10 10 10.4688 10 11C10 11.5625 10.4375 12 11 12Z" fill="%2300CFA3"/></svg>');
        }
    }
    &[data-dimensao="Licenciamento urbanístico e edilício"],&[data-dimensao="Ordenamento Territorial e Uso do Solo"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.5C9 0.6875 9.65625 0 10.5 0H13.5C14.3125 0 15 0.6875 15 1.5V6H16.25V3.75C16.25 3.34375 16.5625 3 17 3C17.4062 3 17.75 3.34375 17.75 3.75V6H18.5C19.3125 6 20 6.6875 20 7.5V14.5C20 15.3438 19.3125 16 18.5 16H10.5C9.65625 16 9 15.3438 9 14.5V1.5ZM11 3.5C11 3.78125 11.2188 4 11.5 4H12.5C12.75 4 13 3.78125 13 3.5V2.5C13 2.25 12.75 2 12.5 2H11.5C11.2188 2 11 2.25 11 2.5V3.5ZM11.5 5C11.2188 5 11 5.25 11 5.5V6.5C11 6.78125 11.2188 7 11.5 7H12.5C12.75 7 13 6.78125 13 6.5V5.5C13 5.25 12.75 5 12.5 5H11.5ZM11 9.5C11 9.78125 11.2188 10 11.5 10H12.5C12.75 10 13 9.78125 13 9.5V8.5C13 8.25 12.75 8 12.5 8H11.5C11.2188 8 11 8.25 11 8.5V9.5ZM16.5 8C16.2188 8 16 8.25 16 8.5V9.5C16 9.78125 16.2188 10 16.5 10H17.5C17.75 10 18 9.78125 18 9.5V8.5C18 8.25 17.75 8 17.5 8H16.5ZM16 12.5C16 12.7812 16.2188 13 16.5 13H17.5C17.75 13 18 12.7812 18 12.5V11.5C18 11.25 17.75 11 17.5 11H16.5C16.2188 11 16 11.25 16 11.5V12.5ZM7 5C7 5.1875 6.96875 5.34375 6.9375 5.5C7.5625 5.9375 8 6.6875 8 7.5C8 8.90625 6.875 10 5.5 10H5V15C5 15.5625 4.53125 16 4 16C3.4375 16 3 15.5625 3 15V10H2.5C1.09375 10 0 8.90625 0 7.5C0 6.6875 0.40625 5.9375 1.03125 5.5C1 5.34375 1 5.1875 1 5C1 3.34375 2.3125 2 4 2C5.65625 2 7 3.34375 7 5Z" fill="%2300CFA3"/></svg>');
        }
    }
    &[data-dimensao="Saúde"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 8C18.4062 8 20 9.59375 20 11.5V16.5C20 16.7812 19.75 17 19.5 17H18.5C18.2188 17 18 16.7812 18 16.5V15H2V16.5C2 16.7812 1.75 17 1.5 17H0.5C0.21875 17 0 16.7812 0 16.5V5.5C0 5.25 0.21875 5 0.5 5H1.5C1.75 5 2 5.25 2 5.5V13H8V8.5C8 8.25 8.21875 8 8.5 8H16.5ZM4.25 4C4.09375 4 4 3.90625 4 3.75V3.25C4 3.125 4.09375 3 4.25 3H8.625C8.75 3 8.8125 3.0625 8.875 3.15625L9.5 4.40625L11.0312 1.28125C11.2188 0.90625 11.75 0.90625 11.9375 1.28125L12.7812 3H16C16.25 3 16.5 3.25 16.5 3.5C16.5 3.78125 16.25 4 16 4H12.1875L11.5 2.625L9.9375 5.75C9.75 6.09375 9.21875 6.09375 9.03125 5.75L8.1875 4H4.25ZM5 12C3.875 12 3 11.125 3 10C3 8.90625 3.875 8 5 8C6.09375 8 7 8.90625 7 10C7 11.125 6.09375 12 5 12Z" fill="%2300CFA3"/></svg>');
        }
    }
    &[data-dimensao="Segurança Pública"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 1.5C0 0.6875 0.65625 0 1.5 0H10.5C11.3125 0 12 0.6875 12 1.5V6.46875L10.6562 7H8.5C8.21875 7 8 7.25 8 7.5V9.5C8 9.53125 8 9.5625 8 9.59375C8.0625 11.4062 8.75 14.125 11.0625 15.9062C10.9062 15.9688 10.6875 16 10.5 16H7.5V13.5C7.5 12.6875 6.8125 12 6 12C5.15625 12 4.5 12.6875 4.5 13.5V16H1.5C0.65625 16 0 15.3438 0 14.5V1.5ZM2.5 7C2.21875 7 2 7.25 2 7.5V8.5C2 8.78125 2.21875 9 2.5 9H3.5C3.75 9 4 8.78125 4 8.5V7.5C4 7.25 3.75 7 3.5 7H2.5ZM5 8.5C5 8.78125 5.21875 9 5.5 9H6.5C6.75 9 7 8.78125 7 8.5V7.5C7 7.25 6.75 7 6.5 7H5.5C5.21875 7 5 7.25 5 7.5V8.5ZM2 4.5C2 4.78125 2.21875 5 2.5 5H3.5C3.75 5 4 4.78125 4 4.5V3.5C4 3.25 3.75 3 3.5 3H2.5C2.21875 3 2 3.25 2 3.5V4.5ZM5.5 3C5.21875 3 5 3.25 5 3.5V4.5C5 4.78125 5.21875 5 5.5 5H6.5C6.75 5 7 4.78125 7 4.5V3.5C7 3.25 6.75 3 6.5 3H5.5ZM8 4.5C8 4.78125 8.21875 5 8.5 5H9.5C9.75 5 10 4.78125 10 4.5V3.5C10 3.25 9.75 3 9.5 3H8.5C8.21875 3 8 3.25 8 3.5V4.5ZM13.2188 7.0625C13.375 7 13.5938 7 13.75 7.0625L17.5 8.5625C17.8125 8.6875 18 8.96875 18 9.25C18 11.25 17.1875 14.5312 13.7812 15.9688C13.5938 16.0312 13.375 16.0312 13.1875 15.9688C9.78125 14.5312 9 11.25 9 9.25C9 8.96875 9.15625 8.6875 9.46875 8.5625L13.2188 7.0625ZM13.5 8.5625V14.4375C15.625 13.4062 16.3438 11.3438 16.4688 9.75L13.5 8.5625Z" fill="%2300CFA3"/></svg>');
        }
    }
    &[data-dimensao="Governança de Dados"]{
        &:before{
            content:"";
            background-image: url('data:image/svg+xml;utf8, <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.375 4.65625C0.84375 4.40625 0.84375 3.625 1.375 3.375L8.65625 0.09375C8.75 0.03125 8.875 0.03125 9 0.03125C9.09375 0.03125 9.21875 0.03125 9.3125 0.09375L16.5938 3.375C17.125 3.625 17.125 4.40625 16.5938 4.65625L9.3125 7.9375C9.09375 8.03125 8.875 8.03125 8.65625 7.9375L1.375 4.65625ZM16.5938 7.40625C17.125 7.625 17.125 8.40625 16.5938 8.65625L9.3125 11.9375C9.09375 12.0312 8.875 12.0312 8.65625 11.9375L1.375 8.65625C0.84375 8.40625 0.84375 7.625 1.375 7.40625L3.1875 6.5625L8.25 8.875C8.46875 8.96875 8.71875 9.03125 9 9.03125C9.25 9.03125 9.5 8.96875 9.71875 8.875L14.7812 6.5625L16.5938 7.40625ZM16.5938 11.4062C17.125 11.625 17.125 12.4062 16.5938 12.6562L9.3125 15.9375C9.09375 16.0312 8.875 16.0312 8.65625 15.9375L1.375 12.6562C0.84375 12.4062 0.84375 11.625 1.375 11.4062L3.1875 10.5625L8.25 12.875C8.46875 12.9688 8.71875 13.0312 9 13.0312C9.25 13.0312 9.5 12.9688 9.71875 12.875L14.7812 10.5625L16.5938 11.4062Z" fill="%2300CFA3"/></svg>');
        }
    }
}

.icons-tab{
    @apply flex justify-between items-center mb-6;
    .icon{
        @apply block cursor-pointer;
        text-indent:-9999px;
        width:18px;
        height:18px;
        &:before{
            @apply transition-ease-fast;
            background-position:center;
            width:18px;
            height:18px;
            filter: invert(19%) sepia(2%) saturate(0%) hue-rotate(170deg) brightness(30%) contrast(84%);
        }
        &:hover, &.active{
            &:before{
                filter: none;
            }           
        }
    }
}

.label{
    @apply rounded inline-block t11 uppercase font-black text-center py-1 leading-none;
    &.alto{@apply bg-verde;}
    &.bom{@apply bg-verdeClaro;}
    &.médio{@apply bg-bege;}
    &.baixo{@apply bg-rosaClaro;}
    &.opaco{@apply bg-rosa;}
}
.alto{@apply bg-verde fill-verde;}
.bom{@apply bg-verdeClaro fill-verdeClaro;}
.médio{@apply bg-bege fill-bege;}
.baixo{@apply bg-rosaClaro fill-rosaClaro;}
.opaco{@apply bg-rosa fill-rosa;}

.top-bar{
    @apply fixed w-full bg-branco transition-ease z-50 left-0 top-0;
    transition: all 0.3s ease-in-out;
    transform:translateY(0);
    &.scroll-down{
        transform:translateY(-100%);
    }
    .logo{
        @apply block z-30;
        background: url('#{$u}logo.svg') no-repeat;
        width:200px;
        height:46px;
        @media (max-width:991px){
            height: 40px;
            width: 160px;
        }
    }
    nav{
        @apply py-1 bg-branco flex items-center font-hkgrotesk;
        @media (max-width:991px){
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        >div{
            @apply flex justify-between items-center;
            @media(min-width:992px){
                min-height: 50px;
            }
        }
        .links{
            @apply absolute m-0 p-4 left-0 top-0 transition-ease-slow z-20 w-full flex flex-col items-center bg-branco;
            height: 100vh;
            transform: translate(0%, -120%);
            li{
                @apply mb-2 relative;
                @media(max-width:991px){
                    &.search{
                        display:none;
                    }
                }
            }
            a{
                @apply transition-ease uppercase t13 md:mr-6 hover:text-verde;
                &.active{
                    @apply text-verde;
                }
            }
        }
    }
    @media (min-width: 1150px) {
        nav{
            .links{
                @apply justify-end h-auto relative p-0 flex-row;
                min-height: auto;
                transform: translate(0%, 0%);
            }
        }
    }
    .btn-menu{
        @apply block relative transition-ease z-30 block cursor-pointer outline-none appearance-none border-0 ml-1 mr-0;
        height: 22px;
        width: 35px;
        &:before, &:after{
            @apply absolute;
            content: "";
            width: 75%;
            left: 50%;
        }
        &:before, &:after{
            @apply transition-ease border-verde border-solid;
        }
        &:before{
            top: 50%;
            height: calc(100% - 6px);
            border-width: 3px 0;
            transform: translate(-50%, -50%);
            animation: menubeforevolta .6s forwards;
        }
        &:after{
            top: 50%;
            height: 0px;
            border-width: 3px 0 0 0;
            transform: translate(-50%, -50%);
        }
        &:hover, &:focus{
            transform: scale(1.1);
        }
        &:checked{
            &:before{
                animation: menubeforeida .6s forwards;
            }
            &:after{
                transform: translate(-50%, -50%) rotate(-45deg);
                transition-delay: .3s;
            }
            @media (max-width:1150px){
                +ul{
                    @apply pt-12;
                    transform: translate(0%, 0%);
                }
            }
        }
        @media (min-width: 1150px) {
            display: none;
        }
    }
    .search{ 
        @apply relative;
        &.mobile{
            display:none;
            @media(max-width:1149px){
                display:flex;
                margin-left: auto;
                margin-right: 0;
            }
        }
        input{
            @apply border border-solid border-verde rounded t13 focus:outline-none leading-none;
            background: url('data:image/svg+xml;utf8, <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 11L4 8" stroke="%2300CFA3" stroke-linecap="round"/><ellipse cx="7" cy="5" rx="4" ry="4" stroke="%2300CFA3"/></svg>') no-repeat calc(100% - 0.25rem);
            background-size: 18px;
            width: 140px; 
            padding: 0.2rem 1.2rem 0.2rem 0.3rem;
            @media (min-width:992px){
                width: 165px; 
            }
            &::placeholder{
                @apply transition-ease text-preto uppercase;
                visibility:visible;
                opacity:1;
            }
            &:focus{
                &::placeholder{
                    visibility:hidden;
                    opacity:0;
                }
                +.results{
                    @apply opacity-100 visible;
                }
            }
        }
        .results{
            @apply bg-cinzaClaro absolute flex flex-col top-7 px-2 transition-ease invisible opacity-0 w-full;
            max-height: 265px;
            overflow-y: auto;
            li{
                @apply t13 uppercase block border-b border-b-branco py-2 mb-0 w-full text-center transition-ease cursor-pointer;
                &:last-child{@apply border-0;}
                &:hover{@apply text-verde;}
            }
            a{
                margin: 0 !important;
            }
            &:focus,&:focus-within{
                @apply opacity-100 visible;
            }
        }
    }
}

.hero{
    @apply bg-roxo pt-8 md:pt-0;
    .container-fluid{
        @apply flex flex-wrap flex-col-reverse md:flex-row items-center md:min-h-screen;
    }
    .hero-img{
        @apply relative;
    }
    .border-mobile {
        position: absolute;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        max-width: calc(100% + 2px);
        border: 2px solid rgb(89 106 214 / var(--tw-bg-opacity));
        z-index: 21;
        top: -1px;
        left: -1px;
    }
    .image-wrapper{
        @apply w-full relative overflow-hidden;
        &:after{
            @apply absolute top-0 left-0 h-full w-full z-0;
            content:"";
            background-color:white;
        }
        .buildings{
            @apply relative z-20;
        }
        .gradient{
            @apply absolute z-10;
            &-1{ 
                top: -15%;
                left: -25%;
                width: 70%;
                animation: float 3s ease-in-out infinite;
            }
            &-2{
                top: 0%;
                left: 0%;
                width: 70%;
                animation: float2 3s ease-in-out infinite;
            }
            &-3{
                top: 50%;
                left: 35%;
                width: 70%;
                animation: float3 6s ease-in-out infinite;
            }
            &-4{
                top: -20%;
                left: 50%;
                width: 90%;
                animation: float 3s ease-in-out infinite;
            }
            &-5{
                top: 60%;
                left: -30%;
                width: 70%;
                animation: float3 4s ease-in-out infinite;
            }
            &-6{
                top: 60%;
                left: 25%;
                width: 70%;
                animation: float 3s ease-in-out infinite;
            }
        }
    }
}

.share{
    @apply flex items-center;
    span{
        @apply t13 mr-1;
    }
    a{
        @apply block m-1 transition-ease-fast;
        &.twitter{
            background: url('#{$u}icons/twitter.svg') no-repeat center;
            width:18px;
            height:18px;
        }
        &.facebook{
            @apply mr-0;
            background: url('#{$u}icons/facebook.svg') no-repeat center;
            width:10px;
            height:18px;
        }
        &:hover{
            filter: invert(19%) sepia(2%) saturate(0%) hue-rotate(170deg) brightness(30%) contrast(84%);
        }
    }
}

.card-docs{
    @apply flex flex-wrap md:flex-nowrap md:gap-4 mt-8 md:mt-16;
    .card{
        @apply transition-ease bg-cinzaClaro hover:bg-verde py-6 px-7 flex flex-col justify-between mb-4 md:mb-0;
        min-height:240px;
        @media (max-width:991px){min-height:160px;}
        button{
            @apply font-necto t16 inline-block text-left uppercase font-light;
            &:after{
                @apply transition-ease relative ml-2;
                content:">";
            }
        }
    }
}

.card-post{
    @apply block md:flex md:flex-wrap md:flex-nowrap md:gap-4 mt-8 md:mt-16 transition-ease;
    *{@apply transition-ease;}
    .card{
        @apply block mb-4 md:mb-0 flex-1 bg-branco;
        @media(min-width:992px){max-width:25%;}
        div{
            @apply py-6 px-7;
        }
        p{
            @apply t18 font-medium;
        }
        figure{
            overflow:hidden;
            height:6.5rem;
            img{@apply w-full h-full object-cover;}
        }
        &:hover{
            @apply bg-verde;
            img{
                transform:scale(1.1);
            }
        }
    }
}

.participe{
    background: url('#{$u}participe-bg.png') no-repeat center;
    background-size:cover;
}

.filtro{
    @apply bg-roxo fixed pt-9 md:pt-11 top-0 z-40 w-full;
    // @apply bg-roxo sticky pt-11 top-0 z-20;
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    @media (min-width:1150px){
        &.hidden-filtro{
            transform: translateY(-100%);
        }
    }
    &.scroll-down{
        transform: translateY(-100%);
    }
    .filtro-inner{
        @apply flex py-2 z-20 relative;
        .drop{
            @apply transition-ease mr-5 flex relative md:static;
            align-items: center;
            p{
                @apply text-branco t16 font-normal pl-0 pr-2 leading-5 cursor-pointer leading-none capitalize md:normal-case;
            }
            .line {
                @apply bg-verdeClaro transition-ease;
                height: 2px;
                max-width:0;
            }
            .full{display:none;}    
            .short{display:block;} 
            @media (min-width:992px){
                .full{display:block;}    
                .short{display:none;} 
            }
            &:first-child{
                @apply pl-0;
            }
            &:after{
                @apply absolute ml-2 inline-block transition-ease;
                vertical-align: middle;
                content: url('data:image/svg+xml;utf8, <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 1.5L6 5.5L10 1.5" stroke="%2300CFA3" stroke-width="2" stroke-linecap="square"/></svg>');
                transform:rotate(0deg);
                transform-origin: center center;
                right:1rem;
                top: -0.6rem;
                @media (max-width:991px){
                    right: -0.3rem;
                }
            }
        }
    }
    .btn{
        @apply mr-2 mb-2;
        &.icon{
            @apply pl-5 md:pl-7;
            &:before{
                width:15px;
                height:13px;
                left:0.25rem;
                @media(min-width:992px){
                    width:22px;
                    height:18px;
                    left:0.5rem;
                }
            }
        }
        &.selected{
            @apply relative;
            &:after{
                // @apply bg-no-repeat bg-contain absolute block;
                content:"x";
                margin-left:0.5rem;
            }
        }
    }
    .btn-next{
        @apply font-necto text-branco t13 block uppercase underline transition-ease hover:no-underline hover:text-verdeClaro relative;
        &:after{
            content:">";
            opacity:0;
        }
        &:hover{
            &:after{
                opacity:1;
            }
        }
    }
    .filtro-content{
        @apply md:relative;
        .content {
            @apply transition-ease z-10;
            padding-top:1.5rem;
            padding-bottom:.5rem;
            transition-property:opacity;
            transition-duration:0s;
            display:none;
            .btn{
                @apply transition-ease;
                opacity:0;
                visibility:hidden;
            }
        }
        &.active{
            @media (min-width:992px){flex:1;}
            .content{
                @apply bg-roxo w-full;
                display:block;
                @media (max-width:991px){
                    position: absolute;
                    width: calc(100% + 3rem);
                    left: 0;
                    margin: 0 -2rem;
                    padding: 1.5rem 2rem 1rem;
                }
                .btn{
                    opacity:1;
                    visibility:visible;
                }
            }
            @media(min-width:992px){
                .line {
                    flex:1;
                    max-width:100%;
                }
            }
            .drop{
                @apply md:mr-8 transition-ease;
                opacity:1;
                &:after{
                    transform:rotate(180deg);
                    top: -0.2em;
                }
            }
        }
        &.disabled{
            @apply opacity-40 cursor-default pointer-events-none;
        }
    }
}

@media(max-width:991px){
    .tabela-scroll{
        @apply overflow-x-scroll pb-2;
        &::-webkit-scrollbar {
            height:0.25rem;
        }
        &::-webkit-scrollbar-thumb {
            @apply bg-cinzaEscuro rounded;
          }
        &::-webkit-scrollbar-track {
            @apply bg-branco;      
            border: solid 2rem transparent;
        }
    }
}

.tabela{
    @apply w-full transition-ease mt-6 md:mt-10 cursor-pointer;
    thead{
        th{
            @apply t11 uppercase text-cinzaEscuro pb-2 md:pb-3;
            &.capital{
                @apply text-left left-0 z-10 sticky;
            }
            &.excluir{
                &:after{
                    @apply transition-ease relative inline-block;
                    top: 0.15em;
                    margin-left: 0.2rem;
                    content: url('data:image/svg+xml;utf8, <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="st0" d="M5.4,0.1c-2.9,0-5.3,2.4-5.3,5.3c0,2.9,2.4,5.3,5.3,5.3c2.9,0,5.3-2.4,5.3-5.3C10.8,2.5,8.4,0.1,5.4,0.1z M4.7,2.7h1.4c0.2,0,0.3,0.1,0.3,0.3L6.2,5.9c0,0.2-0.1,0.2-0.3,0.2H4.9C4.8,6.1,4.7,6,4.6,5.9L4.5,3C4.5,2.8,4.6,2.7,4.7,2.7z M5.4,8.5c-0.6,0-1-0.4-1-1c0-0.5,0.4-1,1-1c0.5,0,1,0.5,1,1C6.4,8.1,6,8.5,5.4,8.5z" fill="%23596AD6"/></svg>');
                }
            }
        }
        .pre-heading{
            @apply border-b-2 border-b-cinza border-l-8 border-l-cinzaClaro border-r-8 border-r-cinzaClaro;
            border-left-width:20px;
            border-right-width:20px;
            padding-bottom:0.1rem;
        }
        .sub-heading{
            @apply transition-ease cursor-pointer relative;
            padding-top: 0.15rem;
            &:hover{
                span{@apply text-verde;}
                .tooltip{
                    @apply opacity-100 visible;
                } 
            }
        }
    }
    tbody{
        @media (min-width:991px){
            &.active tr{
                opacity: 0.4;
                 &.hovered{
                    opacity:1;
                }
            }
        }
        tr{
            @apply transition-ease;
            &:nth-child(even){
                td{@apply bg-cinzaClaro;}
            }
            &:nth-child(odd){
                td{@apply bg-branco;}
            }
        }
        td{
            &.capital{
                @apply t16 z-10 pl-1;
                position:sticky;
                left:0;
            }
            &.pontuacao{
                @apply t11 uppercase font-black text-center;
            }
            &.nivel, &.dimensao{
                line-height:0;
                >.label{
                    @apply w-full p-0;
                    line-height:2em;
                }
            }
            &.dimensao{
                .label{@apply font-normal;}
                &.excluir{
                    .label{
                        @apply border border-solid;
                        &.alto{@apply border-verde; background-color: #C9E8E1;}
                        &.bom{@apply border-verdeClaro; background-color: #DCEBE6;}
                        &.médio{@apply border-bege; background-color: #F0EEEC;}
                        &.baixo{@apply border-rosaClaro; background-color:#EEE3E5;}
                        &.opaco{@apply border-rosa;background-color: #EDD9DE;}
                    }
                }
            }
            &.indicador{
                @apply text-center;
                background-repeat:no-repeat;
                background-position:center;
            }
        }
    }
    &.tabela-mapa{
        @apply mt-4 md:mt-0;
        tbody{
            @media (min-width:991px){
                &.active tr{
                    opacity: 0.4;
                     &.hovered{
                        opacity:1;
                    }
                }
            }
        }
        td{
            span{@apply leading-tight;}
            @media (min-width:992px){
                span{padding-left: 1.2rem;}
                &.icon{
                    @apply ml-1;
                    &:before{
                        top: 0.15rem;
                        width:18px;
                        height:18px;
                        filter: invert(19%) sepia(2%) saturate(0%) hue-rotate(170deg) brightness(30%) contrast(84%);
                    }
                }
            }
        }
        .nivel{min-width:50px;}
    }
    &:not(.tabela-mapa){
        min-width:992px;
        @media (min-width:991px){
            tbody:hover tr{
                opacity: 0.4;
                 &:hover{
                    opacity:1;
                }
            }
        }
        th{@apply bg-cinzaClaro;}
        td, th{
            &.capital{width:16%;}
            &.pontuacao{width:8%;}
            &.nivel{width:8%;}
        }
    }
    &.tabela-geral{
        thead{
            .icon{
                @apply pb-6;
                &:before{
                    @apply transition-ease;
                    background-position:center;
                    left:50%;
                    transform:translateX(-50%);
                    width:30px;
                    height:18px;
                    filter: invert(19%) sepia(2%) saturate(0%) hue-rotate(170deg) brightness(30%) contrast(84%);
                }
                &:hover{
                    &:before{
                        filter:none;
                    }
                }
            }
        }
        td{
            @apply relative;
        }
        .dimensao{width:4.53%}
    }
    &.tabela-dimensao{
        .dimensao{width:11.33%}
    }
    &.tabela-categoria{
        max-width: 862px;
        min-width: 720px;
        .dimensao{width:13.6%}
    }
    &.tabela-conjunto-dados{
        td{@apply pt-1 pb-1;}
        th{
            @apply pb-1 md:pb-1;
            &.nivel{@apply pl-2;}
        }
        .indicador{
            width:6.18%;
        }
    }
    &.tabela-capital{
        @apply mt-3;
        tr:nth-child(odd) td{@apply bg-cinzaClaro;}
        .item{
            @apply t13; 
            width:25%;
            &.estrela{
                &:after{
                    @apply ml-1 relative;
                    top: 0.25em;
                    content: url('data:image/svg+xml;utf8, <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 9.79724V15H8V10.1475L10.9858 13.1333L12.6729 11.4463L9.52656 8.3H14V6H9.79618L12.7215 3.07382L11.0224 1.37517L8 4.39841V0H6V4.77344L2.99854 1.77197L1.31152 3.45898L3.85254 6H0V8.3H4.0995L0.886474 11.5139L2.58561 13.2126L6 9.79724Z" fill="%2300CFA3"/></svg>')
                }
            }
            &.excluir{
                &:after{
                    @apply transition-ease relative inline-block;
                    top: 0.15em;
                    margin-left: 0.2rem;
                    content: url('data:image/svg+xml;utf8, <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="st0" d="M5.4,0.1c-2.9,0-5.3,2.4-5.3,5.3c0,2.9,2.4,5.3,5.3,5.3c2.9,0,5.3-2.4,5.3-5.3C10.8,2.5,8.4,0.1,5.4,0.1z M4.7,2.7h1.4c0.2,0,0.3,0.1,0.3,0.3L6.2,5.9c0,0.2-0.1,0.2-0.3,0.2H4.9C4.8,6.1,4.7,6,4.6,5.9L4.5,3C4.5,2.8,4.6,2.7,4.7,2.7z M5.4,8.5c-0.6,0-1-0.4-1-1c0-0.5,0.4-1,1-1c0.5,0,1,0.5,1,1C6.4,8.1,6,8.5,5.4,8.5z" fill="%23596AD6"/></svg>');
                }
            }
            a.excluir{
                &:after{
                    @apply transition-ease relative inline-block;
                    top: 0.15em;
                    margin-left: 0.2rem;
                    content: url('data:image/svg+xml;utf8, <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path class="st0" d="M5.4,0.1c-2.9,0-5.3,2.4-5.3,5.3c0,2.9,2.4,5.3,5.3,5.3c2.9,0,5.3-2.4,5.3-5.3C10.8,2.5,8.4,0.1,5.4,0.1z M4.7,2.7h1.4c0.2,0,0.3,0.1,0.3,0.3L6.2,5.9c0,0.2-0.1,0.2-0.3,0.2H4.9C4.8,6.1,4.7,6,4.6,5.9L4.5,3C4.5,2.8,4.6,2.7,4.7,2.7z M5.4,8.5c-0.6,0-1-0.4-1-1c0-0.5,0.4-1,1-1c0.5,0,1,0.5,1,1C6.4,8.1,6,8.5,5.4,8.5z" fill="%23596AD6"/></svg>');
                }
            }
        }
        td{
            @apply pb-2 pt-2;
            &.pontuacao{width:3%;}
            &.nivel{width:8%;}
            &.indicador{width:5.81%}
        }
    }
}
.tabela, .legenda-tabela{
    .sim{
        background-image: url('data:image/svg+xml;utf8, <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="10" fill="%2300CFA3"/><path d="M5 9.21053L9.5 13L15 6" stroke="%23F1F1F1" stroke-width="2"/></svg>');
    }
    .nao{
        background-image: url('data:image/svg+xml;utf8, <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10" cy="10" r="9" stroke="%23BDBDBD" stroke-width="2"/><path d="M6 6L14 14" stroke="%23BDBDBD" stroke-width="2"/><path d="M6 14L14 6" stroke="%23BDBDBD" stroke-width="2"/></svg>');
    }
    .nao-aplicado{
        background-image: url('data:image/svg+xml;utf8, <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 13.5L13.5 1.5" stroke="%23BDBDBD" stroke-width="2"/></svg>');
    }
    .nao-localizado{
        background-image: url('data:image/svg+xml;utf8, <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 5H6" stroke="%23BDBDBD" stroke-width="9" stroke-linecap="round" stroke-dasharray="8 0"/></svg>');
    }
}
.legenda-tabela{
    @apply md:flex justify-between items-center border-t border-t-preto mt-4 pt-1;
    p{
        @apply bg-no-repeat;
    }
    .titulo{@apply t18;}
    p:not(.titulo){
        @apply t13 pl-6 py-1 bg-left font-normal;
    }
}
.header-tabela{
    @apply flex justify-between items-center mt-6 sticky left-0 border-b;
    >div{
        @apply flex items-center justify-end pb-1 md:pb-0;
        width:11%;
    }
    h4{
        @apply pb-1 md:pb-0;
        width:89%;
    }
    .pontuacao{
        @apply t11 uppercase font-black text-center;
        width:26.5%;
        min-width:28px;
    }
    .label{
        width:67%;
        min-width:70px;
    }
}

.mapa{
    @apply relative cursor-pointer;
    &:before{
        @apply block;
        content: "";
        padding-top: 104%;
    }
    svg{
        @apply absolute top-0 left-0 right-0 left-0;
        path{
            transition: all 0.3s ease-in-out;
            @media (min-width:992px){
                &.active{
                    opacity:0.3;
                    &.hovered{
                        opacity:1;
                    }
                }
            }
        }
    }

}

.pin{
    @apply absolute bg-preto rounded-full border border-branco cursor-pointer hidden;
    width:12px;
    height:12px;
    @media (min-width:992px){
        @apply block;
        &:hover{
            .tooltip{
                @apply opacity-100 visible;
            } 
        }
    }
    .tooltip{
        @apply left-0 bottom-auto;
        transform: translateX(calc(-50% - -5px)) translateY(calc(-100% - 20px));    
    }
}

.tooltip{
    @apply fixed z-30 bg-branco text-center p-3 cursor-default leading-none normal-case;
    pointer-events: none;
    width:300px;
    transform:translate(-50%,-120%);
    &:after{
        @apply absolute;
        content:"";
        background: url('data:image/svg+xml;utf8, <svg width="30" height="15" viewBox="0 0 30 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 15L1.31134e-06 -2.62268e-06L30 0L15 15Z" fill="white"/></svg>') no-repeat;
        top:calc(100% - 1px);
        left:50%;
        transform:translateX(-50%);
        width:30px;
        height:15px;
    }
    .label{
        @apply mt-1;
        min-width: 70px;
    }
    .capital{
        @apply font-bold t16 mb-1;
    }
    .icon.big{
        @apply t18 font-necto uppercase pb-0;
        &:before{
            @apply relative block mx-auto mb-1;
            height: 1em; width: 1em;
            filter: none;
        }
    }
    .ranking{
        @apply t16 mb-1 leading-4;
        &.icon{
            @apply relative pl-4 text-center; 
            &:before{
                @apply inline-block relative;
                width: 20px;
                height: 15px;
                left:0;
            }
        }
    }
    .conjunto{
        @apply t18 font-necto inline-block border-b-verde mb-1 pl-1 pr-1;
        border-bottom-width:3px;
        padding-bottom:0.1rem;
    }
    .descricao{
        @apply t18 block;
        line-height: 1.4em;
    }
}

.dados-capital{
    @apply flex mb-4 md:mb-0;
    >div{
        @apply rounded text-center mr-1 p-1;
        width:90px;
        .numero{
            @apply t40 font-bold border-b border-b-branco inline-block leading-tight;
            &.estrela{
                &:after{
                    @apply ml-1 relative inline-block;
                    content:"";
                    background: url('data:image/svg+xml;utf8, <svg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.7456 18.031V27.1611H14.2551V18.6469L19.4939 23.8856L22.4541 20.9253L16.9334 15.4046H24.7833V11.3687H17.4061L22.5401 6.2332L19.5586 3.25248L14.2551 8.55741V0.839844H10.7456V9.21679L5.47811 3.94929L2.51782 6.90958L6.9769 11.3687H0.216797V15.4046H7.40985L1.77252 21.0435L4.75408 24.0242L10.7456 18.031Z" fill="%2300CFA3"/></svg>') center no-repeat;
                    background-size:contain;
                    width:25px;
                    height:25px;
                    @media(max-width:991px){
                        width:15px;height:15px;
                    }
                }
            }
        }
        .legenda{
            @apply block t11 uppercase font-black text-center py-1 leading-3;
        }
    }
}

.capital-banner{
    @apply bg-roxo pt-4 pb-4;
    @media (min-width:992px){
        background-image: url('#{$u}banner-capital-1.png'), url('#{$u}banner-capital-2.png');
        background-repeat:no-repeat;
        background-position: left -5% center, right -5% center;
        background-size:contain;
    }
    .btn-arrow{
        @apply pt-0;
    }
}

.conjunto-banner {
    @apply bg-roxo pt-2 pb-2;
    >div{
        @media (min-width:992px){
            background-image: url('#{$u}banner-conjunto-1.png'), url('#{$u}banner-conjunto-2.png');
            background-repeat:no-repeat;
            background-position: left 2rem center, right 2rem center;
            background-size:contain;
        }
    }
    h4{
        @apply pt-4;
    }
    >div{
        @apply pb-4;
    }

}

.internas{
    .header-internas{
        @apply mt-8;
        .subtitulo{
            @apply w-full md:w-3/6 mt-2;
        }
    }
    .conteudo{
        @apply w-full md:w-4/6;
        &.top-margin{
            @apply  pt-10;
        }
        &.right{
            @media(min-width:992px){
                margin-left:33.3%;
            }
        }
        p{
            @apply pb-4;
        }
        img{
            @apply my-6;
        }
        h3{
            @apply mt-6 mb-4;
            &:before{
                content:none;
                margin-right:0;
            }
        }
        a{
            @apply transition-ease;
            &:hover{
                @apply text-verde;
            }
        }
    }
}

.mt-6{
    margin-top: 1.5rem;
}

.pt-6{
    padding-top: 1.5rem;
}

footer{
    a{
        @apply hover:text-verde transition-ease;
    }
    .social{
        a{
            @apply transition-ease;
            filter: invert(19%) sepia(2%) saturate(0%) hue-rotate(170deg) brightness(30%) contrast(84%);
            &:hover{
                filter:none;

            }
        }

    }
}